{   "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
      "jsx-a11y/label-has-for": "off",
      "linebreak-style": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "import/no-unresolved": "off",
      "react/prop-types": 0
    },
    "env": {
      "browser": true,
      "node": true
    }
  }
  